<h3>Guests for <%= hotel.name %></h3>

<table class="table">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Check-in Date</th>
            <th>Check-out Date</th>
        </tr>
    </thead>
    <tbody>
        <% guests.forEach(guest => { %>
        <tr>
            <td><%= guest.fullName %></td>
            <td><%= guest.email %></td>
            <td><%= guest.stayDates ? guest.stayDates.from.toDateString() : 'N/A' %></td>
            <td><%= guest.stayDates ? guest.stayDates.to.toDateString() : 'N/A' %></td>
        </tr>
        <% }) %>
    </tbody>
</table>